body
  margin: 0
  font-family: 'Josefin Sans', sans-serif

.background
  position: relative
  height: 800px

.desktop-dark-img, .desktop-light-img
  width: 100%

.background-dark
  background: hsl(235, 21%, 11%)

.background-light
  background: white

.background-img
  position: relative
  top: 0
  left: 0
  margin: 0

.main-section
  position: absolute
  top: 10%
  left: 10%
  width: 80%

.heading-section
  position: relative
  color: white
  height: 50px
  margin-bottom: 30px

.sun-ico
  position: absolute
  top: 9%
  right: 0

.moon-ico
  position: absolute
  top: 9%
  right: 0

.dark-bg
  display: block

.light-bg
  display: none

.input-section
  position: relative
  grid-column-gap: 0
  margin-bottom: 20px
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2)

.dark-theme
  color:  hsl(234, 39%, 85%)
  background: hsl(235, 24%, 19%)
  span:hover
    color: white

.light-theme
  color: hsl(235, 19%, 35%)
  background: white
  span:hover
    color: hsl(236, 9%, 61%)
  #remove:hover
    color: hsl(236, 9%, 61%)

.checkbox
  display: block
  position: relative
  left: 30%
  align-items: center
  width: 40%
  bottom: 3%
  background-color: inherit

.checkbox-div
  position: relative

.input-area
  display: inline

input
  border: 0
  width: 96%
  height: 3rem
  padding-left: 10px

ul
  list-style-type: none
  list-style-position: inside
  .checked
    list-style-image: url(images/icon-check.svg)


li
  position: relative
  left: -15%
  width: 100%
  height: 2rem
  cursor: pointer
  position: relative
  padding: 20px 14px 8px 24px
  font-size: 18px
  // transition: 0.2s
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  border-bottom: 1px solid hsl(236, 9%, 61%)
  .dark-theme
    color: hsl(233, 14%, 35%)

.close
  position: absolute
  right: 0
  top: 0
  padding: 20px 16px 12px 16px

.checked
  text-decoration: line-through
  color: hsl(237, 14%, 26%)

.features
  display: grid
  grid-template-columns: 1fr 1fr
  grid-row-gap: 5px
  text-align: center
  position: relative
  top: -16px
  width: 100%
  margin: 0

.display-section
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2)

.functions
  align-self: center
  grid-row-start: 2
  grid-column-start: 1
  grid-column-end: 3
  padding-bottom: 10px
  span
    padding: 3px

#remove, #active, #all, #checkers
  cursor: pointer

#remove:hover
  color: white


@media (min-width: 1200px)

  .main-section
    position: absolute
    top: 15%
    left: 30%
    width: 40%

  li
    left: -7%
    width: 100.2%
    // padding-top: 15px
    margin: 0

  .features
    grid-template-columns: 1fr 1fr 1fr

  .functions
    grid-row-start: auto
    grid-column-start: auto
    grid-column-end: auto
    padding-bottom: 0
